# Loss score comparison

## modules

In [1]:
from util.databinder import DataBinder
from IPython.display import display, HTML

## parameters

In [2]:
dir_report = './reports/20240725'
'''
list_report_name = [
    'kinships_transe_false_triple_analysis',
    'wn18rr_transe_false_triple_analysis',
    'fb15k237_transe_false_triple_analysis',
]
'''
list_report_name = [
    'fb15k237_transe_false_triple_analysis',
    'fb15k237_distmult_false_triple_analysis',
]

## main

In [3]:
dict_db = {}
for name in list_report_name:
    dict_db[name] = DataBinder(target_dir=f'{dir_report}/{name}')

INFO:root:Loaded info from ./reports/20240725/fb15k237_transe_false_triple_analysis/info.json
INFO:root:Loaded info from ./reports/20240725/fb15k237_distmult_false_triple_analysis/info.json

In [4]:
for name, db in dict_db.items():
    
    sr_hits_at_k = db.get('sr_hits_at_k')
    sr_vhits_at_k = db.get('sr_vhits_at_k')
    df_tnr = db.get('df_tnr')
    sr_tnr_mean = db.get('sr_tnr_mean')
    fig_tnr = db.get('fig_tnr')
    fig_score = db.get('fig_score')

    display(HTML(f'<h3>{name}</h3>'))
    display(HTML('<h4>Hits@K</h4>'))
    display(HTML('<h5>Vanilla</h5>'))
    display(sr_vhits_at_k.to_frame().T)
    display(HTML('<h5>Filtered</h5>'))
    display(sr_hits_at_k.to_frame().T)
    
    display(HTML('<h4>True negative ratio</h4>'))
    display(sr_tnr_mean.to_frame().T)
    display(HTML(f'<img src="{fig_tnr}">'))

    display(HTML('<h4>Score</h4>'))
    display(HTML(f'<img src="{fig_score}">'))

k             1         3         5         10
hits@k  0.094089  0.164351  0.207995  0.283858

k             1         3         5         10
hits@k  0.136486  0.233364  0.287968  0.371538

Top            0.01      0.03      0.05
tnr(mean)  0.802451  0.374388  0.246327

k             1         3       5         10
hits@k  0.049834  0.104462  0.1313  0.190087

k             1         3         5         10
hits@k  0.073588  0.141599  0.180301  0.256654

Top            0.01      0.03      0.05
tnr(mean)  0.995098  0.992496  0.985015